ErrorDocument 404 http://localhost/wersja2v3/404

RewriteEngine on
RewriteRule gospodarstwo-ogrodnicze test.html
RewriteRule pelargonia pelargonia.html
RewriteRule aktualności aktual.html
RewriteRule kontakt kontakt.html
RewriteRule kwiaty-wiszace wiszace.html
RewriteRule o-nas onas.html
RewriteRule cennik cennik.html
RewriteRule zamowienia zamów.html
RewriteRule 404 error/page_not_found.html
